<div class="flex h-full w-full">
    <div class="flex flex-col w-full">
        <form [formGroup]="form" class="form space-y-2">
            <tds-form-field>
                <input tdsInput autocomplete="off" placeholder="Tên nhóm" formControlName="name" [required]='true' />
            </tds-form-field>
            <tds-checkbox formControlName="isPublic">Công khai</tds-checkbox>
            <tds-form-field>
                <tds-select valueField="email" textField="combineName" placeholder='Thêm thành viên'
                    formControlName="emails" [data]="userList" mode="multiple" [allowSearch]="true">
                </tds-select>
                <tds-error>Validation message text</tds-error>
            </tds-form-field>
        </form>
    </div>
</div>

<div class="w-full flex justify-end p-4" *tdsModalFooter>
    <button tds-button class="mr-2 min-w-[100px]" color="secondary" (click)="cancel()">
        Hủy
    </button>
    <button class="min-w-[100px]" tds-button type="submit" color="primary" (click)="save()">
        OK
    </button>
</div>