@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/tds-ui/assets/scss/cdk.scss";
@import "../node_modules/tds-ui/assets/scss/scroll";
@import "../node_modules/tds-ui/assets/scss/table.scss";
@import "../node_modules/tds-ui/assets/scss/carousel.scss";
@import "../node_modules/tds-ui/assets/scss/input.scss";
@import "../node_modules/tds-ui/assets/scss/steps.scss";
@import "../node_modules/tds-ui/assets/scss/radio.scss";
@import "../node_modules/tds-ui/assets/scss/calendar.scss";
@import "../node_modules/tds-ui/assets/scss/breadcrumb.scss";
@import "../node_modules/tds-ui/assets/scss/confirm.scss";
@import "../node_modules/tds-ui/assets/scss/menu.scss";
@import "./assets/font-icon/style.css";
@import "../node_modules/tds-editor/assets/tdsskin.scss";
@import "../node_modules/tds-editor/assets/tdscontent.scss";

html {
  font-size: 14px;
  // @screen md {
  //   font-size: 14px;
  // }
}

body {
  @apply bg-yellow-200;
  overflow-x: hidden;
  max-width: 100%;
}

.client-header {
  // background: url("assets/imgs/bg/bg-header.jpg") no-repeat;
  // border: 1px solid;
  background-size: cover;
}

.bg-image {
  /* The image used */
  // background-image: url("photographer.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn4 span {
  transform: translateX(-101%);
  // transition: transform 0.2s ease-in;
}

// .test {
//   transform: translateX(0);
// }

.btn4 div {
  transform: translateX(0);
  // transition: transform 0.2s ease-in;
}

.btn4:hover .bottom-out {
  transform: translateX(101%);
  transition: transform 0.3s ease-out;
}

.btn4:hover span {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}
.paper-background {
  /* Set a font size */
  font-size: 16px;

  /* Begin The Redundancies */
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -webkit-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -moz-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -moz-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -o-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -o-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -ms-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -ms-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  -webkit-background-size: 100% 2em;
  -moz-background-size: 100% 2em;

  /* In a perfect world... */
  background-image: linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-size: 100% 2em;
}
