<div class="flex h-full w-full flex-col">
    <div class="flex justify-center items-center border-b-2 border-gray-200">
        <div class="w-60% {{currentUser ? 'p-2' : 'p-4'}} flex justify-between items-center">
            <div class="divide-x">
                <a class="font-bold text-green-600 px-2" [routerLink]="'dashboard'">Home</a>
                <a class="font-bold text-green-600 px-2" [routerLink]="'groups'">Group</a>
                <a class="font-bold text-green-600 px-2" [routerLink]="'restaurant'">Restaurant</a>
            </div>
            <div *ngIf="currentUser" class="flex flex-col items-end">
                <span>Xin chào, {{currentUser.name}}</span>
                <button tds-button class="font-bold text-red-500" color="secondary" [size]="'sm'"
                    (click)="off()">Nghỉ</button>
            </div>
        </div>
    </div>
    <div class="w-full h-full">
        <router-outlet></router-outlet>
    </div>
</div>