<div class="flex h-full w-full justify-center items-center">
    <tds-empty notFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [notFoundContent]="contentTpl" [notFoundFooter]="footerTpl">
        <ng-template #contentTpl>
            <span>Customize
                <a href="#API">Description</a>
            </span>
        </ng-template>

        <ng-template #footerTpl>
            <button tds-button (click)="onClick()">Create Now</button>
        </ng-template>
    </tds-empty>
</div>