<div class="carousel">
  <div class="slide relative">
    <div *ngIf="type == 'banner'; else slider">
      <ng-container *ngFor="let slide of sliderContentStringList; let i = index">
        <!-- <div class="flex w-full absolute top-0 justify-center h-{{height[0]}} md:h-{{height[1]}}"> -->
          <div class="flex justify-center"><img *ngIf="i === currentSlide" [src]="slide" class="object-cover w-full" /></div>
        <!-- </div> -->
      </ng-container>
    </div>
    <ng-template #slider>
      <ng-container *ngFor="let slide of sliderContentStringList; let i = index">
        <div class="flex justify-center">
          <div *ngIf="i === currentSlide" [innerHTML]="bypassSecurityTrustHtml(slide)"></div>
        </div>
      </ng-container>
    </ng-template>
  </div>
  <button class="controll prev relative" (click)="onPreviousClick()">
    <div class="w-8 h-8 md:h-12 md:w-12 bg-gray-400 opacity-80 rounded-full shadow-lg"></div>
    <span class="absolute ml-3 md:ml-4 arrow left"></span>
  </button>
  <button class="controlr next relative" (click)="onNextClick()">
    <div class="w-8 h-8 md:h-12 md:w-12 bg-gray-400 opacity-80 rounded-full shadow-lg"></div>
    <span class="absolute ml-1 md:ml-3 arrow right"></span>
  </button>
</div>