:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

.slide {
  // object-fit: cover;
  // zoom effect on hover
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.01);
}


.controll {
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 2em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover,
  &:focus {
    opacity: 1;
  }

  // /* Position the buttons */
  // &.next {
  //   right: 0;
  // }
  &.prev {
    left: 0;
  }
}

.controlr {
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 2em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover,
  &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  // &.prev {
  //   left: 0;
  // }
}

// .c-left {
//   left: 0;
// }

// .c-right {
//   right: 0;
// }

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}
