<div class="flex h-full w-full  items-center justify-center">
    <div>
        <form [formGroup]="form" class="flex flex-col w-full h-full items-center justify-center">
            <div class="title text-3xl font-bold mb-2 text-center">
                Đăng nhập
            </div>
            <tds-form-field class="w-60">
                <input tdsInput [size]="'lg'" type="email" maxlength="30" placeholder="email@tmtco.asia"
                    formControlName="email" />
            </tds-form-field>
            <tds-form-field class="w-60">
                <input [size]="'lg'" tdsInput type="password" maxlength="30" placeholder="Mật khẩu"
                    formControlName="password" />
            </tds-form-field>
            <div class="flex justify-center mt-2 space-x-1 w-full">
                <!-- <a href="#">Quên mật khẩu?</a> -->
                <button tds-button color="blue" class="w-full" (click)="onSubmit()">Đăng nhập</button>
                <!-- <button class="text-error-500 flex" ></button> -->
            </div>
        </form>
    </div>
</div>