<div class="lg:hidden p-4 flex justify-start">
    <tds-breadcrumb>
        <tds-breadcrumb-item><a routerLink="/admin/home"><span
                    class="text-md font-semibold">{{appLabels.header.Home}}</span></a></tds-breadcrumb-item>
        <tds-breadcrumb-item><span class="text-md font-semibold">{{appLabels.header.Event}}</span></tds-breadcrumb-item>
    </tds-breadcrumb>
</div>
<div class="pt-4 px-2" *ngIf="eventInformation">
    <tds-editor class="block" [height]="'600'" [(ngModel)]="eventInformation.content" [customUploadHandler]="customUpload"></tds-editor>
    <div class="flex w-full justify-end space-x-1 pt-2">
        <!-- <button tds-button type="button" color="secondary" (click)="cancelIntroduce()">Hủy</button> -->
        <button tds-button type="button" color="primary" (click)="save()">Lưu</button>
    </div>
</div>
<div class="bg-transparent py-4 md:py-8 w-full">
    <div class="mx-auto w-full md:w-2/3">
        <div class="flex flex-col justify-center items-center space-x-4">
            <div class="flex flex-row h-12 md:h-16 space-x-4 justify-center items-center">
                <img class="h-full rounded-xl" src="/assets/imgs/logos/home/ahk.png" />
                <img class="h-full rounded-xl" src="/assets/imgs/logos/home/sl.png" />
                <img class="h-full rounded-xl" src="/assets/imgs/logos/home/dk.png" />
                <img class="h-full rounded-xl" src="/assets/imgs/logos/home/pnt-logo.webp" />
            </div>
            <div class="text-center">
                Copyright © 2022. All Rights Reserved.<br>
                Active Healthy Kids Viet Nam
            </div>
        </div>
    </div>
</div>