<diV class="h-28 bg-white drop-shadow-lg relative">
  <div class="h-full pl-8 flex items-center font-semibold text-lg">
    <tds-breadcrumb>
      <tds-breadcrumb-item>Home</tds-breadcrumb-item>
      <tds-breadcrumb-item>Application List</tds-breadcrumb-item>
      <tds-breadcrumb-item>An Application</tds-breadcrumb-item>
    </tds-breadcrumb>
  </div>
  <div class="absolute top-0 left-1/2 -translate-x-1/2">
    <div class="h-28 w-full text-2xl flex justify-center items-center">
      <h1 class="drop-shadow-2xl text-3xl">{{headerContent}}</h1>
    </div>
  </div>
</diV>