name: playerCI
on:
  push:
    branches: [ dev ]
jobs:
    docker:
      runs-on: ubuntu-latest
      steps:
          - name: Configure SSH
            run: |
              mkdir -p ~/.ssh/
              echo "$SSH_KEY" > ~/.ssh/staging.key
              chmod 600 ~/.ssh/staging.key
              cat >>~/.ssh/config <<END
              Host staging
                HostName $SSH_HOST
                User $SSH_USER
                IdentityFile ~/.ssh/staging.key
                StrictHostKeyChecking no
              END
            env:
              SSH_USER: ${{ secrets.SSH_USER }}
              SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
              SSH_HOST: ${{ secrets.SSH_HOST }}
          - name: Move to dir
            run: ssh staging 'cd ~/www'
          - name: Create new dir
            run: ssh staging 'mkdir test1'
#         - name: Checkout
#           uses: actions/checkout@v2
#         - name: Login Docker Hub
#           uses: docker/login-action@v1
#           with:
#             username: ${{ secrets.DOCKER_HUB_USERNAME }}
#             password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#         - name: Setup Docker Buildx
#           uses: docker/setup-buildx-action@v1
#           id: buildx
#         - name: Build and Push Docker Image
#           uses: docker/build-push-action@v2
#           id: docker_build
#           with:
#             context: ./
#             file: ./Dockerfile
#             push: true
#             pull: true
#             tags: justforlrn/crawler:lastest
#         - name: Verify
#           run: echo ${{ steps.docker_build.outputs.digest }}
#   docker:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#       - name: Login Docker Hub
#         uses: docker/login-action@v1
#         with:
#           username: ${{ secrets.DOCKER_HUB_USERNAME }}
#           password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#       - name: Setup Docker Buildx
#         uses: docker/setup-buildx-action@v1
#         id: buildx
#       - name: Build and Push Docker Image
#         uses: docker/build-push-action@v2
#         id: docker_build
#         with:
#           context: ./
#           file: ./Dockerfile
#           push: true
#           pull: true
#           tags: justforlrn/crawler:lastest
#       - name: Verify
#         run: echo ${{ steps.docker_build.outputs.digest }}
