name: playerCI
on:
  push:
    branches: [ dev ]
jobs:
    Docker:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        id: docker_build
        with:
          context: ./aspnet-core
          file: ./aspnet-core/Dockerfile
          push: true
          pull: true
          tags: justforlrn/player-app:lastest
      - name: Verify
        run: echo ${{ steps.docker_build.outputs.digest }}
    PullImage:
      runs-on: ubuntu-latest
      steps:
        - name: ls -a via ssh
          uses: fifsky/ssh-action@master
          with:
            command: |
              cd ~/www/player-app
              git checkout dev
              git pull
              docker-compose up
            host: ${{ secrets.SSH_HOST }}
            user: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY}}SSH_PASSWORD
            pass: ${{ secrets.SSH_PASSWORD}}
